{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <img src="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word=%E9%92%A2%E9%93%81%E4%BE%A0%E5%9B%BE%E7%89%87&step_word=&hs=0&pn=55&spn=0&di=45650&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&istype=0&ie=utf-8&oe=utf-8&in=&cl=2&lm=-1&st=undefined&cs=2138988281%2C1605980400&os=4013330917%2C2773831258&simid=3508117399%2C362859312&adpicid=0&lpn=0&ln=797&fr=&fmq=1606717902442_R&fm=&ic=undefined&s=undefined&hd=undefined&latest=undefined&copyright=undefined&se=&sme=&tab=0&width=undefined&height=undefined&face=undefined&ist=&jit=&cg=&bdtype=0&oriquery=&objurl=http%3A%2F%2Fimage.tianjimedia.com%2FuploadImages%2F2013%2F172%2F2K9X2L0A5249.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3F6u7g1j6ojw6_z%26e3Bv54AzdH3F%25El%25ld%25Ad%25El%25ln%25b8%25E9%25BE%25Aa%25Ec%25An%25b8%25E0%25BA%25Bb%2B%25Eb%25AE%25BE%25Eb%25AE%25A8%25Ec%25lB%25BEAzdH3F&gsm=36&rpstart=0&rpnum=0&islist=&querylist=&force=undefined" alt="Logo">
    {% block content %}{% endblock %}
</body>
</html>